node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json

.vscode/
docs/
important/

prompts/
data/scholarships_3.json

data/scholarships_clean_2.jsonl
update/
